/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared Styles */

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* Banner Section Styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    margin: 30px 0;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}



/* Main Styles */

/* Teams Section Styles */

main {
    max-width: 1440px;

    margin: 0 auto;
}

.teams-container {
    height: 600px;
    display: flex;
    margin: 60px 240px;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-image-container img {
    width: 220px;
    height: 260px;
}

.teams-content {
    padding-left: 60px;
    padding-right: 0px;
}

.teams-title {
    font-size: 2.7rem;
    font-weight: 700;
}

.teams-desc {
    margin-bottom: 32px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Feature Section Styles */

/* Facts Section styles */

.facts {
    margin: 60px 240px;
}

.facts-title {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
}

.facts-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    width: 542px;
    margin-bottom: 80px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    gap: 30px;



}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;



}

.card-stats {
    font-size: 2.7rem;
    font-weight: 600;
    color: #424242;
    margin: 10px 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin: 2px 0;
}

.card>img {
    width: 30.221px;
    height: 30.221px;
}

/* Sponsors Styles */

.sponsors{
    text-align: center;
    
}
.sponsor-title{
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 150px;
}
.sponsor-desc{
    margin: auto;
    width: 542px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;
}
.sponsors-logo-container{
    display: flex;
    justify-content: space-around;
    
    
}

.logo img{
    width: 100px;
    height: 50px;
    
}




/* Responsive */

/* Mobile Devices */


/* Header Styles */



@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    /* Main Styles */


    @media screen and (max-width: 576px) {
        .teams-container {
            flex-direction: column;
            margin: 30px auto;
        }

        .teams-image-container img {

            width: 150px;
            height: 180px;
        }

        .teams-content {
            text-align: center;
            padding: 0;
        }
    }

    /* Facts Styles */

    .facts {
        margin: 200px 10px;
    }
    .facts-card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .card{
        width: 300px;
    }
    .facts-title{
        text-align: center;
    }
    .facts-desc{
        width: auto;
        
    }

    /* Sponsors styles */

    .sponsors-logo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        
    }
    .sponsor-title{
        margin-top: 10px;
    }
    .sponsor-desc{
        width: auto;
    }
    .logo img{
        width: auto;
    }
    

}

/* Resposnsive  */

/* Medium devices */


/* header */

@media screen and (min-width: 576px) and (max-width: 992px) {

    header {
        padding: 20px;
    }

    /* teams */

    .teams-container {
        margin: 0;
    }

    /* Facts */

    .facts {
        margin: 50px 10px;
    }

    /* Logo */

    .sponsor-title{
        margin-top: 80px;
    }

}



/* Medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {}