/* Work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared Styles */

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* Header Styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 400;
    font-size: 1rem;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/* Banner Section Styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-desc {
    margin: 30px 0;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    margin-top: 50px;
    width: 100%;
}



/* Main Styles */

/* Teams Section Styles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    height: 600px;
    display: flex;
    margin: 60px 240px;
    align-items: center;
}

.teams-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-image-container img {
    width: 220px;
    height: 260px;
}

.teams-content {
    padding-left: 60px;
    padding-right: 0px;
}

.teams-title {
    font-size: 2.7rem;
    font-weight: 700;
}

.teams-desc {
    margin-bottom: 32px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Feature Section Styles */

.features-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 50px 240px;

}

.features-content {
    
}

.features-image>img {
    width: 100%;
    height: 950px;
    border-radius: 8px;
}

.ten-years-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 100px;
    border-radius: 8px;
    background: #FF900E;
    text-align: center;
    color: white;
    padding: 10px; 
    position: relative;
    bottom: 70px; 
    right: 40px;  
}
.ten-content{
    padding: 25px;  
}
.ten-years-badge h3{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
.ten-years-badge p{
    margin: 10px 0 0 0;
}

.features-title {
    width: 400px;
    font-size: 2.7rem;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-desc {
    width: 500px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.feature-box {
    margin-top: 20px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: #FFF;
    padding: 20px;
}

.box-title {
    color: #131313;
    font-size: 1rem;
    font-weight: 600;
}

.box-desc {
    color: #727272;
    width: 450px;
    font-size: 1rem;
    font-weight: 400;
}

/* Facts Section styles */

.facts {
    margin: 60px 240px;
    padding: 10px 0;
}

.facts-title {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
}

.facts-desc {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    width: 542px;
    margin-bottom: 80px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    gap: 30px;



}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #FF900E;
    width: 200px;
    height: 200px;



}

.card-stats {
    font-size: 2.7rem;
    font-weight: 600;
    color: #424242;
    margin: 10px 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin: 2px 0;
}

.card>img {
    width: 30.221px;
    height: 30.221px;
}

/* Sponsors Styles */

.sponsors {
    text-align: center;
    margin: 30px 100px;
    padding: 20px 0;

}

.sponsor-title {
    color: #131313;
    font-size: 2.7rem;
    font-weight: 700;
    margin-top: 0;
}

.sponsor-desc {
    margin: auto;
    width: 542px;
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;
}

.sponsors-logo-container {
    display: flex;
    justify-content: space-around;


}

.logo img {
    width: 100px;
    height: 50px;

}

/* Footer Styles */

.footer {
    height: 50px;
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    background-color: #FFF4E7;
}




/* Responsive */

/* Mobile Devices */


/* Header Styles */



@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    /* Main Styles */


    @media screen and (max-width: 576px) {

        /* Teams styles*/

        .teams-container {
            flex-direction: column;
            margin: 30px auto;
            height: auto;
        }

        .teams-image-container img {

            width: 150px;
            height: 180px;
        }

        .teams-content {
            text-align: center;
            padding: 0;
        }
    }

    /* Features styles */

    .features-container{
        flex-direction: column-reverse;
        margin: 10px 10px;
    }
    .features-title,.features-desc,.box-desc{
        width: auto;
    }
    .features-image img{
        width: 355px;
        height: auto;
    }
    /* Facts Styles */

    .facts {
        margin: 70px 10px;
    }

    .facts-card-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .card {
        width: 300px;
    }

    .facts-title {
        text-align: center;
    }

    .facts-desc {
        width: auto;
        text-align: center;

    }

    /* Sponsors styles */

    .sponsors {
        margin: 10px 10px;
        padding: 10px;
    }

    .sponsors-logo-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

    }

    .sponsor-title {
        margin-top: 10px;
    }

    .sponsor-desc {
        width: auto;
    }

    .logo img {
        width: auto;
    }

    /* Footer styles */

    .footer {
        margin: 70px 10px 100px 10px;
    }


}

/* Resposnsive  */

/* Medium devices */


/* header */

@media screen and (min-width: 576px) and (max-width: 992px) {

    header {
        padding: 20px;
    }

    /* teams */

    .teams-container {
        margin: 0;
    }

    /* Features */

    .features-container{
        margin: 10px 10px;
    }

    /* Facts */

    .facts {
        margin: 50px 10px;
    }

    .facts-card-container {
        padding: 25px;
    }

    /* Logo */

    .sponsors {
        margin: 10px 10px;
    }

    .sponsor-title {
        margin-top: 20px;
    }

    /* Footer */


    .footer {
        margin: 70px 10px 100px 10px;
    }


}
